<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Budget - Administration</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='resources/money_favicon.png') }}" />
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous" defer></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous" defer></script>
    </head>

    <body class="text-center">
        <div class="container">
            <div class="row">
              <div class="col">
                <nav class="navbar fixed-top navbar-dark bg-primary">
                  <a class="navbar-brand" href="{{ url_for('render_main_page') }}">Transactions</a>
                  <a class="navbar-brand" href="{{ url_for('render_plans_page') }}">Plans</a>
                  <a class="navbar-brand" href="{{ url_for('render_administration_page') }}">Administration</a>
                </nav>
              </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Administration</h1>
                </div>
            </div>
        </div>      

        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Categories</h2>
                </div>
            </div>
            <div class="row">
                <form action="/add_category" method="post">
                    <div class="col">
                        <label for="category_type">Category Type</label>
                        <select name="category_type">
                            {% for item in type_list %}
                                <option>{{ item[1] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col">
                        <input type="text" name="category_name" class="form-control">
                    </div>
                    <div class="col">
                        <input type="text" name="category_information" class="form-control">
                    </div>
                    <div class="col">
                        <input type="submit" id="category_add" class="btn btn-primary" value="Add">
                    </div>
                </form>
            </div>
        </div>

        <div class="container">
            <table class="table">
            <thead class="thead-dark">
                <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Name</th>
                <th>Information</th>
                </tr>
            </thead>       
            {% for item in category_list %}
                <tr>
                    <td>{{ item[0] }}</td>
                    <td>{{ item[3] }}</td>
                    <td>{{ item[1] }}</td>
                    <!--<td>{{ item[2] }}</td>-->
                </tr>
            {% endfor %}
            </table>
        </div>

        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Types</h2>
                </div>
            </div>
        
            <div class="row">
                <form action="/add_type" method="post">
                    <div class="col">
                        <input type="text" name="type_name" class="form-control">
                        <input type="submit" id="type_add" class="btn btn-primary" value="Add">
                    </div>
                </form>
            </div>
        
        <div class="container">
            <table class="table">
            <thead class="thead-dark">
                <tr>
                <th>ID</th>
                <th>Name</th>
                </tr>
            </thead>
            
            {% for item in type_list %}
                <tr>
                    <td>{{ item[0] }}</td>
                    <td>{{ item[1] }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>

        <h2>Periods</h2>

        <div class="container">
            <form action="/add_period" method="post">
                <div class="container">
                    <input type="text" name="period_name" class="form-control">
                    <input type="date" name="period_from" class="form-control">
                    <input type="date" name="period_to" class="form-control">
                    <input type="submit" id="period_add" class="btn btn-primary" value="Add">
                </div>
            </form>
        </div>

        <div class="container">
            <table class="table">
            <thead class="thead-dark">
                <tr>
                <th>ID</th>
                <th>Name</th>
                <th>From</th>
                <th>To</th>
                </tr>
            </thead>
            
            {% for item in period_list %}
                <tr>
                    <td>{{ item[0] }}</td>
                    <td>{{ item[1] }}</td>
                    <td>{{ item[2] }}</td>
                    <td>{{ item[3] }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>

    </body>

</html>