<!DOCTYPE html>
<html lang="en">

  <head>
      <title>Budget - Plans</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="icon" type="image/png" href="{{ url_for('static', filename='resources/money_favicon.png') }}" />
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
      <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous" defer></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous" defer></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/plans.js') }}" defer></script>
  </head>

  <body class="text-center">
    <div class="container">
      <div class="row">
        <div class="col">
          <nav class="navbar fixed-top navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ url_for('render_main_page') }}">Transactions</a>
            <a class="navbar-brand" href="{{ url_for('render_plans_page') }}">Plans</a>
            <a class="navbar-brand" href="{{ url_for('render_administration_page') }}">Administration</a>
            <a class="navbar-brand" href="{{ url_for('render_signup') }}">Sign Up</a>
            <a class="navbar-brand" href="{{ url_for('render_login') }}">Log In</a>
          </nav>
        </div>
      </div>
    </div>
    
    <form action="/update_plan" method="post">
    
    <div class="container">
      <div class="row">
        <div class="col-md-4 offset-md-4">
          <h1>Plans</h1>
          <select name="period" class="custom-select period_selector">
            {% for item in period_list %}
                <option name="period_option" data-id="{{ item[0] }}">{{ item[1] }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-4 offset-md-4">
          <input class="form-control text-center font-weight-bold border-dark" type="number" name="amount_to_allocate" id="amount_to_allocate" value="0" readonly>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col">
          <div><label for="recurring_incomes">Recurring Incomes</label><input class="form-control text-center text-white bg-success" type="number" name="recurring_incomes" id="3" value="0" readonly></div>
          <div><label for="one_time_incomes">One-Time Incomes</label><input class="form-control text-center text-white bg-success" type="number" name="one_time_incomes" id="4" value="0" readonly></div>
        </div>
        <div class="col">
          <div><label for="recurring_expenses">Recurring Expenses</label><input class="form-control text-center text-white bg-danger" type="number" name="recurring_expenses" id="1" value="0" readonly></div>
          <div><label for="one_time_expenses">One-Time Expenses</label><input class="form-control text-center text-white bg-danger" type="number" name="one_time_expenses" id="2"  value="0" readonly></div>
        </div>
        <div class="col">
          <div><label for="recurring_savings">Recurring Savings</label><input class="form-control text-center" type="number" name="recurring_savings" id="5" value="0" readonly></div>
          <div><label for="one_time_savings">One-Time Savings</label><input class="form-control text-center" type="number" name="one_time_savings" id="6" value="0" readonly></div>
        </div>
        <div class="col">
          <div><label for="possessions">Possessions</label><input class="form-control text-center" type="number" name="possessions" id="8" value="0" readonly></div>
        </div>
      </div>
    </div>
      
    <div class="container">
      <div class="row">
        <div class="col-md-4 offset-md-4">
          {% for item in plan_list %}
            <label>{{ item[1] }}</label>
            <input type="number" id="category-{{ item[0] }}" name="{{ item[0] }}" class="form-control text-center planned-amount" value="{{ item[2] }}" data-type-id="{{ item[4] }}" min="0" autofocus>
          {% endfor %}              
        </div>
      </div>   
      <div class="row">
        <div class="col-md-4 offset-md-4">
          <input type="submit" id="plan_add" class="btn btn-primary" value="Save">
        </div>
    </div>
    </div>

    </form>

  </body>
</html>