<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Budget - Transactions</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='resources/money_favicon.png') }}" />
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous" defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous" defer></script>
  </head>

  <body class="text-center">
      <div class="container">
        <a href="{{ url_for('render_main_page') }}">Transactions</a>
        <a href="{{ url_for('render_plans_page') }}">Plans</a>
        <a href="{{ url_for('render_administration_page') }}">Administration</a>
      </div>

      <h1>Transactions</h1>

      <div class="container">
        <form action="/add_transaction" method="post">
          <div class="container">        
              <div>
                <select name="transaction_period">
                  {% for item in period_list %}
                      <option>{{ item[1] }}</option>
                  {% endfor %}
                </select>
                <select name="transaction_category">
                  {% for item in category_list %}
                      <option>{{ item[1] }}</option>
                  {% endfor %}
                </select>
                <input type="date" name="transaction_date" class="form-control">
                <input type="text" name="transaction_details" class="form-control" value="Details">
                <input type="number" name="transaction_amount" class="form-control" value = 0>
                <input type="submit" id="transaction_add" class="btn btn-primary" value="Add">
              </div>
          </div>
        </form>
      </div>
      
      <div class="container">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>ID</th>
              <th>Date</th>
              <th>Category</th>
              <th>Details</th>
              <th>Amount</th>
            </tr>
          </thead>
          
          {% for item in transaction_list %}
            <tr>
                <td>{{ item[3] }}</td>
                <td>{{ item[1] }}</td>
                <td>{{ item[0] }}</td>
                <td>{{ item[2] }}</td>
                <td>{{ item[4] }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
  </body>

</html>